* {
    margin: 0;
}

.topNav {
    height: 50px;
    width: 100%;
    background-color: #a0a8bb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    
}

.topNav a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-right: 75px;
    margin-left: 75px;
}

.topNav a:hover {
    text-decoration-line: underline;
}

.topNav a:active{
    color: #202A80;
}


